* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(28,28,94);
    --secondary-color: rgb(245, 160, 0);
    --bg-color: rgb(241, 241, 241);
    --text-color: #fff;
    --stext-color: black;
    --sbg-color: black;
}

body {
    background: linear-gradient(-45deg, orange, rgb(10, 10, 207));
	background-size: 400% 400%;
	-webkit-animation: backg 15s ease infinite;
	        animation: backg 15s ease infinite;
}

#logo {
    width: 120px;
    height: 68px;
    animation: gira 3s infinite;
}

#logopatos {
    width: 696px;
    height: 522px;
    border: 5px solid var(--bg-color);
    border-radius: 42px;
    max-width: 1200px;
}

#logopatos:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

main {
    max-width: 1200px;
}

header {
    max-width: 1200px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    gap: 62px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color);
}

a:hover {
    color: var(--secondary-color);
    transition: 0.3s;
}

#site {
    background-color: var(--secondary-color);
    padding: 5px 5px;
    border-radius: 12px;
    color: var(--bg-color);
}

#site:hover {
    color: var(--primary-color);
    transition: 0.3s;
}

main {
    display: flex;
    gap: 40px;
}

#h1 {
    margin-top: 100px;
    margin-left: 325px;
}

h1 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 421px;
    height: 284px;
    border-radius: 40px;
    font-size: 56px;
    max-width: 421px;
    padding: 20px 20px;
}

h1:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

p {
    max-width: 391px;
    font-weight: 600;
    color: var(--text-color);
}

form{
    margin-top: 20px;
}

#inome {
    border-radius: 12px;
    background-color: var(--bg-color);
    width: 326px;
    height: 40px;
    margin-top: 20px;
}

#iemail {
    border-radius: 12px;
    background-color: var(--bg-color);
    width: 326px;
    height: 40px;
    margin-top: 20px;
}

#ienviar {
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 203px;
    height: 63px;
    margin-left: 65px;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}

#ienviar:hover {
    cursor: pointer;
    color: var(--bg-color);
    transition: 0.7s;
    transform: scale(1.05);
}

#image {
    margin-top: 130px;
}

@-webkit-keyframes backg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes backg {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gira {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

footer {
    text-align: center;
    margin: 50px auto;
    color: var(--text-color);
}