h1 {
    width: 100%;
    text-align: center;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.main-container{
    border-bottom: 0.5px solid #fff;
    padding-bottom: 36px;
}

main {
    flex-direction: column;
}

h3 {
    color: #fff;
}

.main-container:nth-child(6),
.main-container:nth-child(7){
    border-bottom: 0px solid red;
}

#senacprint {
    width: 409px;
    height: 307px;
}

.siga-container {
    padding-bottom: 20px;
}

.image-line {
    display: flex;
    gap: 10px;
}

#li-mapa {
     grid-column-start: 2;
     grid-row-start: 2;
     grid-row-end: 4;
}

.aplicativo-container {
    text-align: center;
}

.stores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.image-store {
    width: 150px;
    height: 58px;
}

#baixe {
    padding-left: 40px;
}

.editarp {
    color: var(--secondary-color);
}

@media  screen and (max-width: 880px) {
    .items-container {
        max-width: 768px;
    }
    main {
        display: ;
    }
}